body {
  -webkit-font-smoothing: antialiased;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  margin-top: 125px;
  margin: 125px auto 0;
  max-width: 560px;
  text-align: center;
}

h1 {
  color: #222;
  font-size: 40px;
  letter-spacing: -1px;
  margin: 25px 0 13px 0;
}

h2 {
  color: #aaa;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: unset;
}

footer {
  border-top: 1px solid #ededed;
  color: #aaa;
  margin: 40px 0 0;
  padding: 40px 0;
  position: relative;
  font-weight: 300;
  font-size: 14px;
}

footer::before {
  background: #fff;
  border-radius: 3px;
  border: #ededed 1px solid;
  box-shadow: #fff 0 0 0 5px;
  content: " ";
  display: block;
  height: 7px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: -5px;
  width: 7px;
}

.me {
  border-radius: 100%;
  width: 125px;
}

.social-media {
  font-size: 18px;
  margin: 35px 0 0;
  color: #222;
}

.social-media > * {
  padding: 10px;
  position: relative;
}

.social-media > *:hover::before {
  border-bottom: 6px solid #222;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  top: 35px;
  width: 0;
}

.social-media > *:hover::after {
  background: #222;
  border-radius: 2px;
  bottom: -28px;
  color: #fff;
  content: attr(data);
  font-size: 13px;
  height: 22px;
  left: -6px;
  line-height: 22px;
  padding: 3px 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}
