body {
  line-height: 1;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  margin-top: 125px;
  max-width: 560px;
  margin: 125px auto 0;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #222;
  margin: 25px 0 13px 0;
  letter-spacing: -1px;
}

h2 {
  color: #aaa;
  font-size: 18px;
  font-weight: 300;
}

.me {
  border-radius: 100%;
  width: 125px;
}

.social-media {
  font-size: 18px;
  margin: 25px 0;
}

.social-media > * {
  padding: 10px;
}
